service cloud.firestore {
  match /databases/{database}/documents {
  	// options: get, list, create, update, delete

		function isOwner(){
    	return (resource != null && request.auth.uid == resource.data.created_by)
        || (resource == null && request.auth.uid == request.resource.data.created_by);
    }
    function userinfoIsValid(data){
    	return request.auth.uid == data.created_by
          && request.auth.uid == data.updated_by;
    }

    match /states/{id}{
			allow read, create, delete: if isOwner();
      allow update: if isOwner() && userinfoIsValid(request.resource.data);
    }
    match /units/{id}{
			allow read, create, delete: if isOwner();
      allow update: if isOwner() && userinfoIsValid(request.resource.data);
      // TODO [$5dd14fbbf66ebd000711ec59]: check that groups only contain lamps the user has access to.
    }
    match /users/{userId}{
    	allow read, write: if request.auth.uid == userId;
    }
  }
}