* {
	box-sizing: border-box;
}

body {
	font: 400 16px/1.1 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: .4em 0 .25em;
}

input,
textarea,
select,
button {
	font: inherit;
}

button {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

code {
	font-style: italic;
}

.custom-scrollbar{
	$scrollbarSize: 4px;

	&::-webkit-scrollbar-track {
		border-radius: $scrollbarSize;
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: $scrollbarSize;
		height: $scrollbarSize;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $scrollbarSize;
		background-color: var(--color-border);
		box-shadow: 0 0 4px rgba(0, 0, 0, .3);
	}
	&::-webkit-scrollbar-track, &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
		visibility: hidden;
	}
	&:hover, &:focus{
		&::-webkit-scrollbar-track, &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
			visibility: visible;
		}
	}
}