@mixin theme-light {
	--color-background: rgb(223, 232, 235);

	--color-border: rgb(150, 150, 150);
	--color-overlay: rgb(255, 255, 255);
	--color-overlay-i: rgb(255, 255, 255);
	--color-skeleton: rgb(0, 0, 0, 0.1);
	--color-skeleton-border: rgba(0, 0, 0, 0.25);

	--color-text: rgb(35, 38, 46);
	--color-text-active: rgb(0, 0, 0);
	--color-text-active-i: rgb(0, 0, 0);
	--color-text-inactive: rgb(100, 100, 100);
}

@mixin theme-dark {
	--color-background: #333;

	--color-border: rgb(25, 25, 25);
	--color-overlay: rgb(25, 25, 25);
	--color-overlay-i: rgb(230, 230, 230);
	--color-skeleton: rgba(0, 0, 0, 0.1);
	--color-skeleton-border: rgba(0, 0, 0, 0.5);

	--color-text: rgb(210, 210, 210);
	--color-text-active: rgb(255, 255, 255);
	--color-text-active-i: rgb(0, 0, 0);
	--color-text-inactive: rgb(170, 170, 170);
}
